@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --softRed: hsl(14, 88%, 65%);
  --veryDarkGrayBlue: hsl(237, 12%, 33%);
  --darkGrayBlue: hsl(240, 6%, 50%);
  --lightGrayBlue: hsl(240, 5%, 91%);
  --fontSize: 12px;
}
*{
    box-sizing: border-box;
}
html{
    font-size: var(--fontSize);
}
body{
    margin: 0;
    font-family: "Poppins", sans-serif;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(hsl(273,75%,66%),hsl(240,73%,65%));
    display: grid;  /* ESTUDIAR MAS SOBRE GRID */
    justify-content: center;
    align-content: center;
}

.main{
    background-color: rgb(223, 215, 205);
    border-radius: 30px;
    height: 509px;
    width: 920px;
    display: grid;
    grid-template-columns: 400px 1fr;   /* ESTUDIAR MAS SOBRE ESTO */
    grid-gap: 6rem;
    background-image: url("images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-position: 1260% 65%;
}

/*.question_answer_box >*/ .answer{
    display: none;
}

.textbox{   /* Accordion wrapper*/
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

.questions_box{  
    height: 100%;
/*    color: hsl(237, 12%, 33%);
*/    display: flex;
    flex-direction: column;
}

.question_answer_box{
    width: 350px;
    border-bottom: 1px solid hsl(240, 5%, 91%);
}

.title{
    font-size: 3rem;
    margin-top: 0px;
    color: hsl(238, 29%, 16%);
}

.question_title{
    font-size: 1.2rem;
    font-weight: 400;
    margin: 1.4rem 0rem;
    color: (var(--veryDarkGrayBlue));
}

.question{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.3s;   /*?????????????????????'*/
}

.question img{
    align-self: center;
}

.img_top{
    position: relative;
}

.img_bottom{
    background: url("images/illustration-woman-online-desktop.svg");
    height: 100%;
    background-repeat: no-repeat;
    background-position: 120% center;
}
   
.box{
    position: absolute;
    top: 42%;
    left: -25%;
}